.App {
  /*text-align: center;*/
}

button i {
  margin-right: 10px;
  color: hsl(170, 79%, 39%);
}
.logIn {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 35px;
  cursor: pointer;
  align: center;
}
.logOut {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 15px 60px;
  border-radius: 5px;
  margin: 10px 35px;
  cursor: pointer;
  align: center;
}
